<p id="notice"><%= notice %></p>

<p>
  <strong>Icao:</strong>
  <%= @airport.icao %>
</p>

<p>
  <strong>Name:</strong>
  <%= @airport.name %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @airport.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @airport.long %>
</p>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
